body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
}

/*фоны для сетки*/

.body-index {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.body-catalog {
  background-color: #849d8f;
  /*background-image: url("../img/gllacy-catalog-1200.jpg");*/
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.cat-wrapper {
  min-width: 1200px;
  margin: 0 auto;
}

/*слайдеры*/

.site-wrapper {
  min-width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.slides-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  padding-top: 280px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  padding-left: 27px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked~.site-wrapper #slide1, #product-2:checked~.site-wrapper #slide2, #product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"], #product-2:checked~.site-wrapper label[for="product-2"], #product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*конец слайдеров*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.default-a {
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  ;
}

.default-a:hover, .default-a:active {
  color: #ffbc9e;
}

.catalog-list-item .default-a:hover, .catalog-list-item .default-a:active {
  color: #ffffff;
}

.site-navigation, .nav-catalog {
  list-style: none;
}

.footer-social-btns, .footer-links-list {
  list-style: none;
}

.page-footer {
  font-weight: normal;
  font-size: 13px;
}

.for-suppliers {
  font-weight: 700;
}

.map {
  position: relative;
  width: auto;
  background-image: url("../img/map-with-pin.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.adress {
  box-sizing: border-box;
  color: #333333;
  background-color: #ffffff;
  border-radius: 5px;
}

.default-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  white-space: pre;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -moz-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  cursor: pointer;
  opacity: 0.988;
}

.default-button:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;
  background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
}

.default-button:active {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #fceeec;
  background-image: -moz-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}

a.header-button {
  padding: 7px 12px 7px 12px;
  vertical-align: top;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

a.header-button:hover {
  color: #333333;
  background-color: rgb(247, 246, 243);
}

a.header-button:active {
  color: #333333;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}

.header-options-btn, .header-options-btn:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-options-btn {
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-options-btn:hover {
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.bonus {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  font-weight: 700;
  color: #ffffff;
}

.bonus-item {
  position: relative;
  width: 560px;
  border-radius: 20px;
}

.bonus-item:nth-child(2) {
  background-image: url("../img/raspberry-back.jpg");
  background-repeat: no-repeat;
}

.bonus-item:nth-child(3) {
  background-image: url("../img/choko-back.jpg");
  background-repeat: no-repeat;
}

.bonus-item b {
  font-size: 35px;
  line-height: 41px;
}

.bonus-item p {
  font-size: 18px;
  line-height: 22px;
}

/*выровнять позиционирование!*/

.bonus-item-btn, .bonus-item-btn:hover, .bonus-item-btn:active {
  position: absolute;
  right: 22px;
  bottom: 18px;
  font-size: 18px;
  line-height: 24px;
}

.catalog-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list-item-price-number {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-list-item-price-unit {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-list-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-list-item-btn a, .catalog-list-item-btn a:hover, .catalog-list-item-btn a:focus {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-maker, .footer-maker a {
  font-weight: 400;
  color: #ffffff;
}

.footer-maker {
  width: 220px;
  padding-right: 0;
  padding-top: 18px;
  padding-left: 10px;
}

.footer-maker img {
  padding-left: 7px;
}

.footer-maker p {
  padding: 0;
  margin: 0;
}

.footer-links-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.features {
  width: 1200px;
  margin: 0 auto;
  min-height: 280px;
  margin-bottom: 40px;
  padding: 0;
  margin-top: -4px;
}

.features-container {
  min-height: 280px;
  margin-right: 27px;
  margin-left: 27px;
  padding-top: 26px;
  padding-left: 18px;
  color: #333333;
  background-image: url("../img/waffle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.features b {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.feature-item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.feature-item:before {
  content: "";
  position: absolute;
  top: -13px;
  left: -53px;
  width: 49px;
  height: 49px;
}

.icecream:before {
  background-image: url(../img/ice-cream.svg);
}

.eco:before {
  background-image: url(../img/eco.svg);
}

.cow:before {
  background-image: url(../img/cow.svg);
}

.thermo:before {
  background-image: url(../img/thermometer.svg);
}

.feature-item:nth-child(2n+1) {
  margin-bottom: 25px;
}

.feature-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: 24px;
  margin-left: 15px;
  list-style: none;
}

.left-features {
  display: flex;
  flex-direction: column;
  width: 485px;
  margin-right: 85px;
}

.right-features {
  display: flex;
  flex-direction: column;
  width: 485px;
}

.blog {
  width: 560px;
  margin-left: 29px;
  padding-top: 8px;
  padding-left: 20px;
  color: #333333;
  background-image: url("../img/strawberry-back.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.blog p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  text-decoration: underline;
}

.news-distrib {
  width: 568px;
  margin-right: 27px;
  margin-left: 30px;
  padding: 7px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.news-distrib-inner {
  min-height: 185px;
  padding: 10px 18px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 10px;
  /*этот размер подогнать*/
}

.news-distrib p {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news-inner-form {
  display: flex;
  margin-top: 35px;
}

.news-inner-form input[type="email"] {
  min-width: 355px;
  margin-right: 7px;
  padding-left: 10px;
}

.news-inner-form input[type="email"]:hover {
  margin-right: 5px;
}

.news-inner-form input[type="submit"] {
  position: relative;
  left: 6px;
  width: 130px;
  height: 45px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  white-space: nowrap;
}

.news-form, .news-form:hover, .news-form:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.adress p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.adress .map-adress-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.adress .map-phone a {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.open-feedback, .open-feedback:hover, .open-feedback:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.page-counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.catalog-path {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.catalog-path a {
  font-weight: 400;
}

.header-options-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

a.header-options-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.filter {
  color: #ffffff;
}

.filter-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sorting option {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.fat label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filler label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.default-input {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
}

.default-input:hover {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(154, 154, 154);
  border-radius: 5px;
}

.default-input:focus {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(46, 136, 228);
  border-radius: 5px;
}

.basket-content {
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.nav-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.nav-catalog-top {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}

.nav-catalog li {
  color: #323232;
}

.nav-catalog li:hover {
  color: #323232;
  background-color: #fbded7;
}

.nav-catalog li:active {
  color: #323232;
  background-color: #f6b5a5;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.current-container a {
  margin: 0 3px 0 1px;
  padding: 7px 12px 6px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  vertical-align: top;
  color: #ffffff;
  /*класс для "Находимся на странице" в выпадающем меню каталога*/
  background-color: #d07058;
  background-color: #d07058;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

.header-button-current {
  color: #ffffff;
  /*класс для "Находимся на странице" в верхнем меню*/
  background-color: rgb(208, 112, 88);
}

.header-button {
  white-space: pre;
}

.feedback {
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.feedback b {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-button, .feedback-button:hover, .feedback-button:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/*фильтры*/

.filter-row fieldset {
  border: none;
}

.sorting-options {
  font-weight: 700;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 195px;
  height: 37px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 12px 12px;
  border: none;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  padding-left: 28px;
  padding-top: 3px;
}

.sorting-options option {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-options:hover option {
  font-weight: 700;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-options:hover {
  font-weight: 700;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow-dark.svg");
}

.filter-label {
  display: block;
  padding-left: 5px;
  margin-bottom: 3px;
}

.price {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.price-value {
  display: block;
  padding-top: 2px;
  padding-left: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.range {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 187px;
  height: 25px;
  margin: 0;
  margin-right: 14px;
  padding: 4px 13px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.scale {
  width: 100%;
  height: 4px;
  background: rgba(248, 247, 244, .5);
}

.bar {
  margin-left: 20px;
  margin-right: 60px;
  height: 4px;
  background: rgba(248, 247, 244, 1);
}

.toggle {
  position: absolute;
  top: 1;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
}

.toggle-min {
  left: 30px;
}

.toggle-max {
  right: 65px;
}

.fat {
  width: 416px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.fat .label-row {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  margin-left: -2px;
}

.fat .value-row {
  margin: 0;
  margin-left: -12px;
  min-height: 27px;
  padding: 0px 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
}

.fat-label {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-top: 5px;
  margin-right: 50px;
}

.fat-input {
  display: none;
}

.first-label {
  margin-left: 28px;
}

.last-label {
  margin-right: 0px;
}

.fat-input+.fat-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -4px;
  left: -30px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
}

.fat-input:checked+.fat-label::before {
  background-image: url("../img/radio-on.svg");
}

.filler {
  width: 690px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-left: 40px;
}

.filler .label-row {
  margin: 0;
  padding: 0;
  margin-top: -8px;
}

.filler .value-row {
  margin: 0;
  margin-left: -10px;
  margin-top: 7px;
  min-height: 27px;
  padding: 0px 15px;
  padding-top: 7px;
  padding-bottom: 2px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
}

.filler-label {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-top: 5px;
  margin-right: 54px;
}

.filler-input {
  display: none;
}

.first-label {
  margin-left: 28px;
}

.last-label {
  margin-right: 0px;
}

.filler-input+.filler-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -4px;
  left: -30px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
}

.filler-input:checked+.filler-label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  height: 37px;
  width: 142px;
  align-self: center;
  margin-right: 0;
  margin-left: 20px;
  margin-top: 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.filter-btn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.filter-btn:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}

.filter-row {
  width: 880px;
}

/*конец фильтров*/

.page-counter ul {
  list-style: none;
}

.page-counter-item a {
  font-weight: 500;
  color: #ffffff;
  border: none;
}

.page-counter-item.unable a {
  color: rgba(255, 255, 255, 0.2);
}

.page-counter-item.current a {
  color: #323232;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 3px 8px;
}

.page-counter-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.footer-social {
  margin: 0;
  padding: 0;
}

.footer-social-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  padding-top: 23px;
}

/*стили сетки*/

html, body {
  min-width: 1200px;
}

.main-header {
  min-height: 115px;
  margin: 0 auto;
}

.main-navigation {
  /*130*/
  display: flex;
  flex-direction: column;
  min-height: 115px;
  margin: 0 auto;
  padding: 0;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.header-options {
  width: 267px;
  /* Временно для сетки */
  min-height: 53px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header-options-search {
  margin-left: 5px;
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: rgb(161, 180, 169);
  width: 33px;
  height: 33px;
}

.header-options-search::after {
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 9px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
}

.search-container:hover .header-options-btn {
  color: #323232;
  background-color: rgba(248, 247, 244, 1);
  background-repeat: no-repeat;
  background-position: center center;
}

.search-container:hover .header-options-search::after {
  background-image: url("../img/loupe_dark.svg");
}

.search-container {
  position: relative;
}

.search-form {
  display: none;
  z-index: 50;
  background-color: #f8f7f4;
  padding: 20px 16px;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: -310px;
  top: 40px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-container::after {
  position: absolute;
  top: 20px;
  left: -20px;
  content: "";
  width: 100px;
  height: 40px;
}

.search-form input {
  width: 310px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 20px 16px;
}

.search-container:hover .search-form {
  display: block;
  top: 40px;
}

.header-options-enter {
  position: relative;
  background-color: rgb(161, 180, 169);
  width: 100px;
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 17px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
}

.enter-container {
  margin-left: 10px;
  padding-bottom: 5px;
}

.header-options-enter::after {
  position: absolute;
  z-index: 5;
  content: '';
  width: 17px;
  height: 17px;
  top: 8px;
  left: 15px;
  background-image: url("../img/entrance.svg");
  /*какая-то хрень с свг, у них цвета наоборот*/
  background-repeat: no-repeat;
}

.enter-container:hover .header-options-enter::after {
  background-image: url("../img/entrance-dark.svg");
}


.enter-container {
  position: relative;
}


.enter-container::after {
  position: absolute;
  top: 20px;
  left: -20px;
  content: "";
  width: 100px;
  height: 40px;
}



/******************************************************/

.entry {
  display: none;
  position: absolute;
right:0;
  top: 35px;
  background-color: #f8f7f4;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  border-radius: 5px;
  border: none;
  z-index: 50;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.entry-email,
.entry-password {
  width: 225px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding-left: 14px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.entry input:hover,
.entry input:focus  {
  margin-bottom: 18px;
  margin-left: 9px;
  margin-right: 9px;
}


.entry-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
    color: #323232;
    text-decoration: underline;
}

.entry-link:hover {
  color: #e84d37;
}
.entry-button {
width: 100px;
height: 47px;
    font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  margin: auto;
  }
  .button-container {
    width: 105px;
    height: 50px;
  }
.entry-button:hover {
  }

.entry-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.entry-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.enter-container:hover .entry {
  display: block;
  }
/*****************************************************/
.basket-container {
  margin-left: 6px;
  padding-bottom: 5px;
}

.header-options-basket {
  position: relative;
  background-color: rgb(161, 180, 169);
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
}

.header-options-basket::after {
  position: absolute;
  z-index: 5;
  content: '';
  width: 17px;
  height: 17px;
  top: 8px;
  left: 16px;
  background-image: url("../img/basket-empty.svg");
  /*какая-то хрень с свг, у них цвета наоборот*/
  background-repeat: no-repeat;
}

.basket-container:hover .header-options-basket::after {
  background-image: url("../img/basket-empty-dark.svg");
}

.header-options-time {
  align-self: right;
}

.main-navigation-wrapper {
  width: 1200px;
  /* Временно для сетки */
  min-height: 53px;
}

.container {
  padding-right: 27px;
  padding-left: 27px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-container {
  margin: 0 auto;
  padding: 0;
}

.bonus {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

.bonus-item {
  width: 560px;
  min-height: 210px;
  margin: 0 13px;
  padding-top: 15px;
  padding-right: 22px;
  padding-left: 20px;
}

.bonus-item:nth-child(2) {
  margin-left: 27px;
}

.bonus-item:nth-child(2) .bonus-item-btn {
  margin-left: 355px;
  padding: 12px 23px;
}

.bonus-item:nth-child(3) .bonus-item-btn {
  margin-left: 332px;
  padding: 12px 20px;
}

.bonus-item:nth-child(3) {
  margin-right: 27px;
}

.news {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0;
}

.blog a {
  display: inline-block;
  margin-top: -30px;
  margin-right: 240px;
}

.map {
  width: 1200px;
  min-height: 433px;
  margin: 0 auto;
  padding: 0;
}

.adress-container {
  position: relative;
  width: 1200px;
  min-height: 433px;
}

.adress {
  position: absolute;
  top: 65px;
  left: 870px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 305px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 25px;
}

.map-adress-pre {
  margin-right: 90px;
  margin-bottom: 0;
}

.map-adress-text {
  margin-top: -1px;
  margin-bottom: 1px;
}

.map-adress-order {
  margin-bottom: 9px;
}

.map-phone {
  margin-bottom: 0;
}

.map-adress-time {
  margin-top: -1px;
  margin-bottom: 27px;
}

.open-feedback {
  width: 255px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  min-height: 105px;
}

.phone-href-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  min-height: 22px;
  margin: 0 auto;
}

.time-and-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30px;
  margin-top: -7px;
  margin-right: 28px;
  margin-left: auto;
}

.header-options-phone {
  display: inline-block;
  margin-top: 3px;
}

.header-options-time {
  display: inline-block;
  padding-left: 20px;
}

.catalog-path {
  margin-right: auto;
  margin-left: 0;
  padding-top: 19px;
  padding-left: 27px;
}

.cat-container {
  width: 1200px;
  min-height: 198px;
  margin: 0 auto;
  margin-top: -20px;
  padding: 0;
  /*!!*/
}

.filter-container {
  width: 1200px;
  min-height: 198px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 43px;
}

.filter {
  width: 879px;
  min-height: 130px;
  margin: 0;
  margin-top: 8px;
}

.catalog-header {
  padding-left: 27px;
}

.filter-forms {
  display: flex;
  flex-direction: column;
}

.filter-row {
  display: flex;
}

.page-counter {
  width: 200px;
  margin-right: 27px;
  margin-left: auto;
  margin-top: 45px;
}

.page-counters {
  display: flex;
  justify-content: space-around;
  width: auto;
  padding: 0;
}

.main-header-logo {
  padding-top: 9px;
}

.main-nav-flex-left {
  display: flex;
  justify-content: flex-start;
  width: 560px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 380px;
  min-height: 53px;
  padding-top: 25px;
  padding-left: 9px;
}

.site-navigation>li {
  position: relative;
}

.site-navigation a {
  display: block;
}

.site-navigation .nav-catalog {
  position: absolute;
  z-index: 30;
  top: 35px;
  left: -10px;
  display: none;
  width: 143px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation>li:hover .nav-catalog {
  display: block;
}

.nav-catalog>li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 19px;
}

.slides-container {
  margin-bottom: 40px;
}

.cat-wrapper .slides-container {
  margin-bottom: 10px;
}

.feature-list {
  position: relative;
  display: flex;
}

.social-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin-right: 13px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid rgba (255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0.8;
}

.tweet {
  margin-left: 27px;
  background-image: url("../img/twitter.svg");
}

.insta {
  background-image: url("../img/instagram.svg");
}

.fb {
  background-image: url("../img/fb.svg");
}

.vk {
  background-image: url("../img/vk.svg");
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.4);
}

/*карточка товара*/

.catalog-list {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

.popular {
  width: 1200px;
  margin: 0 auto;
}

.popular-container {
  display: flex;
  justify-content: flex-start;
  min-height: 370px;
  margin: 0 auto;
}

.popular-container .catalog-list-item:first-child {
  margin-left: 27px;
}

.cat-row {
  display: flex;
  justify-content: flex-start;
  min-height: 370px;
  margin: 0 auto;
}

.cat-row-block {
  display: block;
  margin-left: 20px;
  margin-bottom: -8px;
}

.catalog-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.catalog-list-item {
  position: relative;
  text-align: center;
  margin-left: 10px;
}

.catalog-list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
}

.cat-item-text {
  display: inline-block;
  margin: 0 6px;
  margin-top: -1px;
}

.in-catalog:before {
  display: none;
}

/*
для каталога - отсутствие ХИТ*/

.catalog-list-item-price {
  position: absolute;
  top: 210px;
  left: 0;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list-item:hover, .in-catalog:hover {
  z-index: 50;
  margin-bottom: -35px;
  /*!!!*/
  padding-bottom: 75px;
}

.catalog-list-item .cat-item-btn, .in-catalog .cat-item-btn {
  display: none;
  padding: 12px 30px;
}

.catalog-list-item:hover .cat-item-btn, .in-catalog:hover .cat-item-btn {
  position: absolute;
  bottom: 15px;
  left: 19px;
  display: block;
  width: 170px;
}

.catalog-list-item img {
  margin-bottom: 10px;
}

.catalog-list-item {
  width: 267px;
  margin-right: 14px;
}

.catalog-list-item:nth-child(1+4n) {
  margin-right: 0;
}

.catalog-list-item:not(.in-catalog) {
  margin-top: 2px;
  margin-right: 16px;
}

.catalog-list-item:not(.in-catalog) .cat-item-text {
  margin: 0 6px;
  margin-top: 3px;
}

/*конец карточки каталога*/

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  justify-content: flex-start;
  width: 393px;
}

.footer-links-left {
  position: relative;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 42px;
}

.footer-links-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 42px;
  margin-left: 33px;
}

.footer-links-item {
  display: inline-block;
  text-align: left;
}

.for-suppliers {
  font-weight: 700;
}

.footer-links-left:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
}
