body {
  padding:0;
  margin:0;
  font-family:"Roboto", Arial, sans-serif;
  font-size:16px;
  line-height:18px;
  font-weight:700;
  color:#ffffff;
  background-color:#849d8f;
}

.visually-hidden{
  display:none;
}
a {
  color:#ffffff;
  text-decoration:none;
  border-bottom:1px solid rgba(255, 255, 255, .2);;
}

.main-navigation{
}
.site-navigation, .nav-catalog{
  list-style:none;
}

footer a:hover, a:active{
  color:#ffbc9e;
}
.footer-social-btns, .footer-links-list {
  list-style:none;
}

footer {
  font-size:13px;
  font-weight:normal;
}
.for-suppliers {
  font-weight:700;
}
.for-suppliers::before{
  content:url("../img/heart.svg");
  height:13px;
  width:15px;
}
.map {
  background: url("../img/map.jpg") no-repeat center center;
}
.adress-container{
  display:flex;
  justify-content:flex-end;
}
.adress{
  background:#ffffff;
  color:#333333;

}

.default-button {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  color:#ffffff;
  font-family:"Roboto", Arial, sans-serif;
  font-size:16px;
  line-height:18px;
  font-weight:700;
}
.default-button:hover{
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
    color:#fefefe;
    font-family:"Roboto", Arial, sans-serif;
    font-size:16px;
    line-height:18px;
    font-weight:700;
  }
.default-button:active{
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
    color:#fceeec;
    font-family:"Roboto", Arial, sans-serif;
    font-size:16px;
    line-height:18px;
    font-weight:700;

}
a.header-button:hover{
  color:#333333;
  background-color: rgb(247, 246, 243);
}
a.header-button:active{
  color:#333333;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
.header-options-text{
  font-size:14px;
  line-height:16px;
  font-weight:500;
}
.header-options-btn{
    background-color: rgba(255, 255, 255, 0.2);
  }

.header-options-btn:hover{
    background-color: rgb(248, 247, 244);
    color:#323232;  
    }

.advert-block-header{
  font-size:60px;
  line-height:60.35px;
}
.advert-block-btn{
  font-size:32px;
  line-height:44px;
}
.bonus-item b{
  font-size:35px;
  line-height:41px;
}
.bonus-item p{
  font-size:18px;
  line-height:22px;
}
.bonus-item-btn{
  font-size:18px;
  line-height:24px;
}
.catalog-list-item-price-number{
  font-size:45px;
  line-height:45px;
}
.catalog-list-item-price-unit{
  font-size:30px;
  line-height:45px;
}
.catalog-list-item a{
  font-size:16px;
  line-height:22px;
  font-weight:500;
}
.features{
  color:#333333;
}
.features b{
  font-size:24px;
  line-height:30px;
  font-weight:500;
}
.feature-item{
  font-size:16px;
  line-height:22px;
  font-weight:400;
}
.feature-list{
  list-style:none;
}
.blog {
  color:#333333;
}
.blog p{
  font-size:16px;
  line-height:22px;
  font-weight:500;
}
.blog h1{
  font-size:24px;
  line-height:30px;
  font-weight:700;
  text-decoration:underline;
  color:#333333;
}
.news-distrib{
  color:#333333;
}
.news-distrib p{
  font-size:16px;
  line-height:22px;
  font-weight:400;
}
.news-form{
  font-size:18px;
  line-height:24px;
  font-weight:700;
}
.adress p{
  font-size:14px;
  line-height:20px;
  font-weight:400;
}
.adress .map-adress-text{
  font-size:18px;
  line-height:24px;
  font-weight:700;
}
.adress .map-phone a{
  font-size:18px;
  line-height:22px;
  font-weight:700;
  color:#333333;
}
.open-feedback{
  font-size:18px;
  line-height:24px;
  font-weight:700;
}
.page-counter{
  font-size:16px;
  line-height:18px;
  font-weight:500;
}
.catalog-path{
  font-size:14px;
  line-height:16px;
  font-weight:400;
}
.header-options-time{
  font-size:14px;
  line-height:16px;
  font-weight:700;
}
a.header-options-phone {
  font-size:22px;
  line-height:24px;
  font-weight:700;
  border: none;
}
.catalog-header{
  font-size:35px;
  line-height:41px;
  font-weight:700;
}
.filter-label{
  font-size:14px;
  line-height:16px;
  font-weight:500;
}
.sorting select{
  background-color:#849d8f;
}
.sorting option{
  font-size:16px;
  line-height:18px;
  font-weight:500;
  color: #ffffff;
}
.fat label{
  font-size:16px;
  line-height:18px;
  font-weight:500;
}
.filler label{
  font-size:16px;
  line-height:18px;
  font-weight:500;
}
.filter-btn{
  font-size:16px;
  line-height:18px;
  font-weight:500;
}
